@import "tailwindcss";

@theme {
  --color-brand-navy: #0d1b3e;
  --color-brand-gold: #c9a84c;
  --color-brand-blue: #3d5af1;
  --color-brand-orange: #f97316;
  --color-brand-cream: #f5ede3;
}

.precio-btn:hover {
  background-color: var(--btn-accent);
  color: white;
}
